.header {
    font-weight: bold;
    text-align: center;
    padding: 12px;
    text-align: center;
    background: #430f66;
    color: white;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 20px;
    border: black;
}
  

.APODFlex {
    display: flex;
    flex-direction: wrap;
    flex: 1;
}

.APOD {
    display: flex;
    flex: 2;
    padding: 8px;
}

#explanation {
    padding: 8px;
    flex: 1;
    max-width: 100%;
}

.add-form {
    margin-bottom: 40px;
}
  
.form-control {
    margin: 20px 0;
    text-align: center;
    flex: 2;
    padding: 20px;
}
  
.form-control label {
    display: block;
    padding-bottom: 5px;
}

.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
  
.btn:focus {
    outline: none;
}
  
.btn:active {
    transform: scale(0.98);
}
  
@media screen and (max-width: 700px) {
    .flexContainer, .header, .APODFlex {   
      flex-direction: column;
      flex-grow: 1;
    }

    .APOD, #explanation, .form-control {
        max-width: 100%;
    }

}

.addBtn {
    float: right;
}